<!DOCTYPE html>
<html>
<head>
	<title>발급자 상세 정보</title>
	<%- include('../common-head.html'); %>
</head>
<body>
	<%- include('../common-header.html'); %>
	<div class = "container badge assignee">
		발급자 상세 정보
		<table>
			<tbody>
				<tr>
					<td>일시</td>
					<td><span id="date"></span></td>
					<td>임직원</td>
					<td><span id="escort"></span></td>
				</tr>
				<tr>
					<td>이름</td>
					<td><span id="name"></span></td>
					<td>연락처</td>
					<td><span id="escort"></span></td>
				</tr>
				<tr>
					<td>직위</td>
					<td><span id="title"></span></td>
					<td>부서</td>
					<td><span id="escort"></span></td>
				</tr>
				<tr>
					<td>연락처</td>
					<td><span id="contact"></span></td>
				</tr>
				<tr>
					<td>회사</td>
					<td><span id="company"></span></td>
				</tr>
			</tbody>
		</table>
		<div>
			<button onclick="history.back(1);">확인</button>
		</div>
	</div>
	<script type="text/javascript" src="scripts/badge/assignee.js"></script>
	<%- include('../common-footer.html'); %>
</body>
</html>
