<!DOCTYPE html>
<html>
<head>
	<%- include('../common-head.html'); %>
</head>
<body>
	<%- include('../common-header.html'); %>
	<div class = "container badge list">
		<!-- 임시 출입 카드 -->
		<div>
			<input name="available" id="available" type="checkbox">발급가능 카드만 보기<br>
			<input name="occupied" id="occupied" type="checkbox">미회수 카드만 보기<br>
			<button id="search">검색</button>
		</div>
<% if (typeof error != "undefined") { %>
		<div class="error">
			오류가 발생했습니다: <%=error%>
		</div>
<% } else { %>
		<table>
			<tbody>
				<tr>
					<th>종류</th>
					<th>번호</th>
					<th>상태</th>
					<th>일시</th>
					<th>수령자</th>
					<th>연락처</th>
					<th>임직원</th>
					<th>연락처</th>
					<th>부서</th>
				</tr>
				<% for (var i=0 ; i < result.length ; i++) {%>
				<tr>
					<td><%=result[i].type%></td>
					<td><%=result[i].number%></td>
					<td><%=result[i].status%></td>
					<td><%=result[i].ndate%></td>
					<td><%=result[i].assignee%></td>
					<td><%=result[i].contact%></td>
					<td><%=result[i].ename%></td>
					<td><%=result[i].emobile%></td>
					<td><%=result[i].edept%></td>
				</tr>
				<% } %>

				<% if (result.length == 0) {%>
				<tr>
					<td></td>
					<td colspan="9">출입 카드 정보가 없습니다.</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<div id="paging">
			<ul>
				<li> 1 </li>
				<li> 2 </li>
				<li> 3 </li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/badge/list.js"></script>
	<%- include('../common-footer.html'); %>
</body>
</html>
