<!DOCTYPE html>
<html>
<head>
	<title>보안 서약 정보 동의</title>
	<%- include('../common-head.html'); %>
</head>
<body>
	<%- include('../common-header.html'); %>
	<div class = "container visiting agreement">
		보안 서약 및 개인 정보 수집 동의 안내
		<div class="agreement">
			블라 불라 블라
		</div>
		<input name="agree" id="agree" type="checkbox">내용을 확인하였으며 위의 내용에 동의 합니다.<br>
		<div>
			날짜 : <%=today%>, 성명 : <span>홍길동</span> 
			<button id="confirm" onclick="alert('확인');">확인</button>
		</div>

	</div>
	<script type="text/javascript" src="scripts/visiting/agreement.js"></script>
	<%- include('../common-footer.html'); %>
</body>
</html>
