<!DOCTYPE html>
<html>
<head>
	<title>방문 일정</title>
	<%- include('../common-head.html'); %>
</head>
<body>
	<%- include('../common-header.html'); %>
	<div class = "container visiting list">
		방문 일정
		<div>
			<input id="date" type="date" value="<%=date%>">
			<input id="keyword" placeholder="검색내용" value="<%=keyword%>">
			<select id="type">
				<option value="NAME" <% if(type == 'NAME' || type == undefined) { %>selected<% } %> >방문자명</option>
				<option value="EMAIL" <% if(type == 'EMAIL') { %>selected<% } %> >이메일</option>
				<option value="CONTACT" <% if(type == 'CONTACT') { %>selected<% } %> >연락처</option>
			</select>
			<button id="search">검색</button>
			<button id="register" onclick="window.location='/visiting/register';">방문등록</button>
		</div>
<% if (typeof error != "undefined") { %>
		<div class="error">
			오류가 발생했습니다: <%=error%>
		</div>
<% } else { %>
		<table>
			<tbody>
				<tr>
					<th>#</th>
					<th>일시</th>
					<th>이름</th>
					<th>직위</th>
					<th>연락처</th>
					<th>회사</th>
					<th>상태</th>
					<th>카드종류</th>
					<th>카드번호</th>
					<th>임직원</th>
					<th>연락처</th>
					<th>부서</th>
				</tr>
				<% for (var i=0 ; i < result.length ; i++) {%>
				<tr class="visiting" data-id="<%=result[i].id%>" data-escort-id="<%=result[i].escort.id%>">
					<td><%=result[i].idx%></td>
					<td><%=result[i].ndate%></td>
					<td><%=result[i].visitor.name%></td>
					<td><%=result[i].visitor.title%></td>
					<td><%=result[i].visitor.contact%></td>
					<td><%=result[i].visitor.company%></td>
					<td><% if (result[i].agreement) { %>
						확인
					<% } else { %>
						미동의
					<% } %></td>
					<% if (result[i].badge) { %>
					<td><%=result[i].badge.type%></td>
					<td><%=result[i].badge.number%></td>
					<% } else { %>
					<td colspan="2">미할당</td>
					<% } %>
					<td><%=result[i].escort.name%></td>
					<td><%=result[i].escort.contact%></td>
					<td><%=result[i].escort.dept%></td>
				</tr>
				<% } %>

				<% if (result.length == 0) {%>
				<tr>
					<td></td>
					<td colspan="11">방문 등록 정보가 없습니다.</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<div id="paging">
			<ul>

<% if (pageinfo.page > pageinfo.windowSize) { %>
<li>
	<a href="#1" data-page="1" class="btn_first">처음</a>
</li>
<% } %>

<% if (pageinfo.prevwindow) { %>
<li>
	<a href="#<%=pageinfo.prevwindow%>" data-page="<%=pageinfo.prevwindow%>" class="prev_window">이전</a>
</li>

<% } %>
<% for (var i=0 ; i < pageinfo.pages.length ; i++) { %>
	<li>
<% if (pageinfo.page == pageinfo.pages[i].page) { %>
    <b><%=pageinfo.pages[i].page%></b>
<% } else { %>
	<a href="?<%=pageinfo.pages[i].query%>" data-page="<%=pageinfo.pages[i].page%>" class="paging_num">
		<%=pageinfo.pages[i].page%>
	</a>
<% } %>
	</li>
<% } %>

<% if (pageinfo.nextwindow) { %>
<li>
	<a href="#<%=pageinfo.nextwindow%>" data-page="<%=pageinfo.nextwindow%>" class="next_window">다음</a>
</li>
<% } %>

<% if (pageinfo.lastpage) { %>
<li>
	<a href="#<%=pageinfo.lastpage%>" data-page="<%=pageinfo.lastpage%>" class="next_page">마지막</a>
</li>
<% } %>
			</ul>

<% } %>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/visiting/list.js"></script>
	<%- include('../common-footer.html'); %>
</body>
</html>
